.add-form {
  margin-top: 1rem;

  .add-input {
    width: 78%;
    height: 2.2rem;
    border: 0;
  }

  .button--add {
    width: 20%;
    height: 2.2rem;
    margin-left: 0.5rem;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 0.8rem;
    color: #fff;
  }
}